html, body {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #FFF7F8;
    line-height: 1.5;
    min-width: 290px;
    height: 100%;
    overflow: none;
}

.nav-link ul {
    list-style-type: none;
}

#navbar {
    position:fixed;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 1000;
    min-width:290px;
    top:0px;
    left:0px;
    width:300px;
    height:100%;
    border-right:solid;
    border-color:rgba(0,22,22,0.4);
    background-color: #001628;
}

header {
    color: black;
    font-size: 30px;
  margin:10px;
  text-align:center;
  font-size:1.8em;
  font-weight:thin;
}

a.nav-link {
color: #001628;
height: 100%;
}

.nav-link { 
    height: 450px; /* Full-height: remove this if you want "auto" height */
    margin-bottom: -5000px;
    padding-bottom: -5000px;
    width: 160px; /* Set the width of the sidebar */ /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #001628; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .nav-link li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: inline-block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .nav-link li:hover {
    color: orange;
  }
  
  /* Style page content */
  .main-section {
    margin-left: 320px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  section#Background.main-section {
    background: linear-gradient(rgba(185, 86, 202, 0.2),#fff);
    border-radius: 10px;
  }
  

  section#Basics_and_Terminology.main-section {
    background: linear-gradient(rgba(219, 185, 146, 0.2),#fff);
    border-radius: 10px;
  }
  .column1 {
    float: left;
    width: 49%;
  }
  
  .column2 {
    float: right;
    width: 49%;
    
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }  

.column1, .column2 {
  font-size: 1rem;
}


ppp {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
}

code {
  display:block;
  text-align: left;
position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color:#001628;
padding:15px;
margin:10px;
  border-radius:5px;
  color: white;
}

.purple1 {
  color: black;
  background: linear-gradient(rgba(156,39,176,.2),#fff);
  padding: 10px;
  border-radius: 10px;
}
.purple2 {
  color: black;
  background: linear-gradient(rgba(156,39,176,.2),#fff);
  padding: 10px;
  border-radius: 10px;
}

#orange{
  background: linear-gradient(rgba(255,138,0,.2),#fff);
  padding: 10px;
  border-radius: 10px;
}

#Flex_Grow {
  width: 49%;
}
section#Flex_Grow.main-section {
  background: linear-gradient(rgba(255,138,0,.2),#fff);
  padding: 10px;
  border-radius: 10px;
  float: right;
  width: 100%;
  padding: 0;
}

section#Flex_Basis.main-section {
  background: linear-gradient(rgba(255,138,0,.2),#fff);
  padding: 10px;
  border-radius: 10px;
  float: right;
  width: 100%;
  padding: 0;
}
.purple3 {
  color: black;
  background: linear-gradient(rgba(156,39,176,.2),#fff);
  padding: 10px;
  border-radius: 10px;
}

.purple3 img {
  margin: 0px 100px 40px 100px;
}


code .customcode {
  position: relative;
  background-color: var(--silver);
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 6px;
  overflow: auto;
}

p {

margin:10px;
}
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .nav-link {padding-top: 15px;}
    .nav-link li {font-size: 18px;}
  }

 /* */

 @media only screen and (max-width: 600px) {
  body {
    color: black;
  }
 }

 
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .purple3 {
    color: black;
    background: linear-gradient(rgba(156,39,176,.2),#fff);
    padding: 5px;
    border-radius: 5px;
  }

  #navbar {
    position:fixed;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 1000;
    min-width:150px;
    top:0px;
    left:0px;
    width:30px;
    height:100%;
    border-right:solid;
    border-color:rgba(0,22,22,0.4);
    background-color: #001628;
}

header {
    color: black;
    font-size: 30px;
  margin:10px;
  text-align:center;
  font-size:1.8em;
  font-weight:thin;
}

a.nav-link {
color: #001628;
height: 100%;
}

.nav-link { 
    height: 450px; /* Full-height: remove this if you want "auto" height */
    margin-bottom: -5000px;
    padding-bottom: -5000px;
    width: 160px; /* Set the width of the sidebar */ /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #001628; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .nav-link li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: inline-block;
  }

   /* Style page content */
   .main-section {
    margin-left: 150px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  .column1 {
    float: none;
    width: 100%;
  }
  
  .column2 {
    float: none;
    width: 100%;
  
}
.purple3 img {
  margin: 0px 22px 10px 22px;
}

}